<!DOCTYPE html>
<html>
  <head>
    <title>SpecialtyFoodStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
    
  </body>
</html>
